{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Vocabulary</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/grayscale.css'%}" rel="stylesheet">

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger"
          {% if logged_in %}
           href="/{{ user_name }}/index">
          {% else %}
           href="/">
          {% endif %}
          Vocabulary</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                 <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#download">Download</a>
            </li>
            <li class="nav-item " >
                <a class="nav-link js-scroll-trigger" href="#contact" style="margin-right: 2em">Contact</a>
            </li>
              {% if logged_in %}
                <li class="nav-item " >
                  <a class="nav-link js-scroll-trigger h6 " href="#" style="text-transform:none"> {{user_name }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href={% url 'users:sign_out' %}>Sign Out</a>
                </li>
              {% else %}
                <li class="nav-item " >
                  <a class="nav-link js-scroll-trigger" href={% url 'users:sign_in' %}>Sign In</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href={% url 'users:sign_up' %}>Sign Up</a>
                </li>
              {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% block body %}

    {% endblock %}
     <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About Vocabulary</h2>
            <p>Vocabulary is a free web app created by BgmLover.
              It can help you to learn English words better. And talking about the thought of creating the app, maybe I
              just want to have a website like
              <a href="https://www.vocabulary.com/">vocabulary</a>
              . The website is open source, and you can download it from my github repository
              <a href="https://github.com/BgmLover/vocabulary">vocabulary</a>
              .</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="download-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>Download More templates</h2>
          <p>For the template of the my website, I use the template from
              <a href="https://startbootstrap.com/">Start Bootstrap</a> and you can get some nice website templates from it.</p>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact github</h2>
            <p>Feel free to leave me a comment on the github
               about this website!</p>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://github.com/BgmLover" target="_blank" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; BgmLover 2018</p>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>


    <!-- Custom scripts for this template -->
    <script src="{% static 'js/grayscale.min.js'%}"></script>

  </body>

</html>
