{% extends 'users/base.html' %}

{% block body %}
    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container mx-auto" style="height: 40%;padding: 0;margin: 0">
          <div class="row no-padding" style="margin: 0" >
            <div class="col-lg-12  mx-auto" style="margin: 0">
              <h1 class="brand-heading">Vocabulary</h1>
              {% if not logged_in %}
                  <p class="intro-text">A free, responsive, one page Bootstrap theme.
                      <br>Created by Start Bootstrap.</p>
                  <a href="#about" class="btn btn-circle js-scroll-trigger">
                  <i class="fa fa-angle-double-down animated"></i>
              </a>
              {% else %}
                  <div class="row" >
                    <div class="col-sm-2 offset-sm-1 " style="padding-right: 0.5%;padding-left: 0.5%">
                        <a href="recite/" role="button" class="btn btn-outline-light  rounded btn-lg " style="text-transform: none;width: 100%;">Recite</a>
                    </div>
                    <div class="col-sm-2 " style="padding-right: 0.5%;padding-left: 0.5%">
                        <a href="review/" role="button" class="btn btn-outline-light  rounded btn-lg " style="text-transform: none;width: 100%; ">Review</a>
                    </div>
                    <div class="col-sm-2" style="padding-right: 0.5%;padding-left: 0.5%">
                        <a href="examine/" role="button" class="btn btn-outline-light  rounded btn-lg" style="text-transform: none;width: 100%">Examine</a>
                    </div>
                    <div class="col-sm-2" style="padding-right: 0.5%;padding-left: 0.5%">
                        <a href="define_words/" role="button" class="btn btn-outline-light  rounded btn-lg" style="text-transform: none;width: 100%">Define Words</a>
                    </div>
                    <div class="col-sm-2" style="padding-right: 0.5%;padding-left: 0.5%">
                        <a href="manage/" role="button" class="btn btn-outline-light  rounded btn-lg" style="text-transform: none;width: 100%">Manage</a>
                    </div>
                  </div>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock %}