{% extends 'users/base.html' %}
{% load static %}

{% block body %}
    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div id="words_table">
            <table class="table table-dark"  >
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Word</th>
                  <th scope="col">phonetic_symbol_e</th>
                  <th scope="col">phonetic_symbol_a</th>
                  <th scope="col">Meanings</th>
                  <th scope="col">Sentence</th>
                </tr>
            </thead>
            <tbody>
              {% for word in defined_words %}
                <tr>
                  <th scope="row">{{ word.seq }}</th>
                  <td>{{ word.word }}</td>
                  <td>{{ word.phonetic_symbol_e }}</td>
                  <td>{{ word.phonetic_symbol_a }}</td>
                  <td>{{ word.meanings }}</td>
                  <td>{{ word.sentence }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>

        </div>
      </div>
    </header>
{% endblock %}