{% extends 'users/base.html' %}
{% load static %}

{% block body %}
    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <h1 class="brand-heading">Good job</h1>
            <p class="intro-text">You have finished your review plan today
                <br>Try more words?</p>
            <form method="post" action="/{{ user_name }}/finish_review/">
              {% csrf_token %}
              <input type="submit" class="btn-default btn-lg mx-2" value="Sure" name="try_more">
              <input type="submit" class="btn-default btn-lg mx-2" value="No thanks" name="try_more">
            </form>

        </div>
      </div>
    </header>
{% endblock %}