{% extends 'users/base.html' %}
{% load static %}

{% block body %}
    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <h1 class="brand-heading">Good job</h1>
            <p class="intro-text">You have finished your exam
              <br>For last exam, you know
                <strong>{{ exam_info.right_count }}</strong>
                  words in
                <strong>{{ exam_info.question_count }}</strong>
                  words
              <br>Try another exam?</p>
            <form method="post"  action="/{{ user_name }}/finish_examine/">
              {% csrf_token %}
              <input type="submit" class="btn-default btn-lg mx-2" value="Sure" name="try_more">
              <input type="submit" class="btn-default btn-lg mx-2" value="No thanks" name="try_more">
              <input type="submit" class="btn-default btn-lg mx-2" value="Review the exam" name="try_more">
            </form>
        </div>
      </div>
    </header>


{% endblock %}