{% extends 'users/base.html' %}
{% load static %}

{% block body %}
     <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/{{ user_name }}/index">Vocabulary</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                 <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#download">Download</a>
            </li>
            <li class="nav-item " >
                <a class="nav-link js-scroll-trigger" href="#contact" style="margin-right: 2em">Contact</a>
            </li>
                <li class="nav-item " >
                    <a class="nav-link js-scroll-trigger" href="#" style="text-transform:none"> {{user_name }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href={% url 'users:index' %}>Log OUT</a>
                </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="card bg-dark col-sm-8 offset-sm-2">
            <div class="card-header text-left">
              <strong class="display-4 ">{{ now_word.word }}</strong> &nbsp;
              <small >英:{{ now_word.phonetic_symbol_e }}</small>
              <audio id="player_e" src={{ now_word.pronunciation_e }} ></audio>
              <img  class="btn" onclick="document.getElementById('player_e').play()"  src={% static 'img/player.png' %}>
              </img>
              <small >美:{{ now_word.phonetic_symbol_a }}</small>
              <audio id="player_a" src={{ now_word.pronunciation_a }} ></audio>
              <img  class="btn" onclick="document.getElementById('player_a').play()"  src={% static 'img/player.png' %}>
              </img>
            </div>
            <div class="card-body collapse" id="word_content" >
              {% for meaning in now_word.meanings %}
                <div class="card-text text-left">{{ meaning }}</div>
              {% endfor %}
              <br>
              {% for sentence in now_word.example_sentence %}
                <div class="card-text text-left">{{ sentence }}</div>
              {% endfor %}
            </div>
            <div class="card-footer ">
              {% if can_show_content %}
                <button class="btn-default" data-toggle="collapse" data-target="#word_content">Show the content</button>
                <a class="btn-default" href="/{{ user_name }}/get_recite_next/">
                  next
                </a>
              {% else %}
                <form action="/{{ user_name }}/recite/" method="post" class="row">
                {% csrf_token %}
                  <input class="btn-outline-light col-4" type="submit" name="if_remember"  value="I know it">
                  <input class="btn-outline-light col-4 offset-sm-4" type="submit" name="if_remember"  value="I don't know it">
                </form>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About Grayscale</h2>
            <p>Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
              <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
            <p>This theme features stock photos by
              <a href="http://gratisography.com/">Gratisography</a>
              along with a custom Google Maps skin courtesy of
              <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
            <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with SASS and LESS files for easy customization!</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="download-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>Download Grayscale</h2>
          <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
          <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact Start Bootstrap</h2>
            <p>Feel free to leave us a comment on the
              <a href="http://startbootstrap.com/template-overviews/grayscale/">Grayscale template overview page</a>
              on Start Bootstrap to give some feedback about this theme!</p>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/BgmLover" target="_blank" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg">
                  <i class="fa fa-google-plus fa-fw"></i>
                  <span class="network-name">Google+</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Canglang 2018</p>
      </div>
    </footer>
{% endblock %}