
<div class="row">
                <div class="col-2 ">
                    <span class="badge badge-success" style="position: center"> The book in use </span>
                </div>
                <div class="card bg-dark col-2" >
                    <img class="card-img-top" src={% static 'img/books/'%}{{ choose_book }}.png  alt={{ choose_book }} >
                    <div class="card-text">{{ choose_book }}</div>
                </div>
              </div>


<span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>